.card {
  display: inline-block;
  position: relative;
  width: 120px;
}

.hand {
  width: 120px;
  height: 172px;
  white-space: nowrap;
  transition: width 1s;
}

@media screen and (max-width: 480px) {
  .card {
    width: 100px;
  }

  .hand {
    width: 100px;
    height: auto;
  }
}
