/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('/assets/bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:link {
  color: #bdf3ce;
}

a:hover, a:focus {
  color: #1B9742;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 48px 16px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
